*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    
    background-color: #fff;
  }

body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    flex: 1;
    outline: 2px solid red;
}

.headerContainer {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    outline: 2px solid red;
    
}

.headerLinks, li {
    display: flex;
}

.firstContent {
    display: flex;
    outline: 2px solid red;
}